<%
--[[
    Info    路由器工具
]]--

local ver = require("xiaoqiang.XQVersion").webVersion
%>
<%include("web/inc/head")%>
<title><%:小米路由器%></title>
<meta name="viewport" content="width=1200">
<link href="<%=resource%>/web/css/bc.css?v=<%=ver%>" rel="stylesheet">
<link href="<%=resource%>/web/css/upgrade.css?v=<%=ver%>" rel="stylesheet">
<meta name="referrer" content="never">
</head>
<body>
<div id="doc">
    <%include("web/inc/header")%>
    <br><br>
    <div id="bd" style="padding:8px">
		<iframe style="border: medium none;" src ="http://192.168.2.1:9001/#!/2/docker/containers" align="middle" width="100%" height="666"></iframe>
    </div>

</div>
<%include("web/inc/footer")%>
<%include("web/inc/g.js")%>
<%include("web/inc/reboot.js")%>
<%include("web/inc/sysinfo.js")%>
</body>
</html>
